# Python bytecode files
__pycache__/
*.py[cod]

# Virtual environment
venv/
.env/

# Audio files
*.wav

# Pickle files
*.pkl

# Jupyter Notebook files
.ipynb_checkpoints/

# Coverage reports
htmlcov/
.coverage
.coverage.*
nosetests.xml
coverage.xml
*.cover

# Distribution / packaging
dist/
build/
*.egg-info/

# IDE / Editor directories
.vscode/
.idea/

# MacOS specific files
.DS_Store

# Windows specific files
Thumbs.db
ehthumbs.db

# Logs
*.log

# CSV files
*.csv
